name: Data Process

on:
  workflow_dispatch:

jobs:
  run-bot:
    runs-on: ubuntu-latest
    timeout-minutes: 350 

    steps:
    - uses: actions/checkout@v3

    - name: Run Tool Script
      env:
        # সিক্রেটগুলো আমরা সরাসরি স্ক্রিপ্টে পাস করছি
        WORKER_URL: ${{ secrets.WORKER_URL }}
        WORKER_KEY: ${{ secrets.WORKER_KEY }}
        PLAYIT_SECRET: ${{ secrets.PLAYIT_SECRET }}
        PLAYIT_URL: ${{ secrets.PLAYIT_URL }} # সেই http://25.ip... লিংকটা
      run: |
        chmod +x tool.sh
        ./tool.sh
